<nav class="global-nav">
  <div class="container">
    <% if user_signed_in? %>
      <div class="navigation">
        <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "nav-link" %>
        <ul class="left-actions">
          <li class="nav-item">
            <%= link_to "ホーム", root_path, class: "nav-link" %>
          </li>
        </ul>
        <ul class="right-actions">
          <li class="nav-item">
            <%= link_to "ツイート", new_tweet_path, class: "btn btn-primary tweet-btn" %>
          </li>
          <li class="navigation">
            <%# <%= link_to "ユーザー情報編集", edit_user_registration_path, class: "nav-link" %>
          </li>
        </ul>
      </div>
    <% else %>
      <div class="navigation">
        <ul class="left-actions">
          <li class="nav-item">
            <%= link_to "ツイートアプリ", "#", class: "nav-brand" %>
          </li>
        </ul>
      </div>
    <% end %>
  </div>
</nav>
